/* Do not write any CSS in here, add it to the appropriate module or make a new one and import it here. */

@charset 'UTF-8';

@import './react-tabs.css';
@import './menuTabItem.css';
@import './searchFilter.css';
