#filtering .searchBox {
  display: flex;
  padding: 10px;
  background-color: #909090;
}
#filtering .searchBox .search-input input{
  width: 200px;
  -webkit-appearance: none;
  padding: 5px 0px;
  background: #eee;
}
#filtering .searchBox button {
  border: 2px solid #666;
  border-radius: 10px;
  padding: 0px;
  margin-left: 15px;
  background-color: #888;
  outline: none;
  cursor: pointer;
}
#filtering .searchBox button:active {
  border: 2px solid #777;
}
#filtering .searchBox button i {
  color: white;
  border: 2px solid #666;
  border-radius: 7px;
  font-size: 15px;
  padding: 1px;
  margin: 1px;
}
#filtering .searchBox button i:active{
  border: 2px solid #585757;
}
#searchResultContent {
  
}
